**/.DS_Store
**/.run/
**/__pycache__/*
**/cmake-build-*
**/generated/*
**/resources/*
.cmake/
.idea/
CMakeCache.txt
CMakeFiles/
CMakePresets.json
Testing/
bin/
build/
cmake/
demos/
external/
externals/
out/
resources/
samples/
staging/
utils/

.makefile_update_check
.makefile_status
